<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>
<div class="movies">
    <ul>
        <% @movies.each do |movie| %>
            <li>
                <img src=<%= movie.image_url %> >
                <h3><%= movie.name %></h3>
            </li>
        <% end %>
    </ul>
</div>